  .custom-tabs {
    background: #F6F6F6;
    border-radius: 50px;
    padding: 5px;
    display: inline-flex;
    gap: 14px;
  }

  .custom-tab {
    border: none;
    background: transparent;
    font-weight: 500;
    color: #555;
    padding: 8px 18px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    /* optional for better UX */
  }

  .custom-tab.active {
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    color: #000;
    font-weight: 600;
  }

  .custom-badge {
    background: #ff5a1f;
    color: #F6F6F6;
    border-radius: 6px;
    font-size: 12px;
    /* fixed the space issue */
    padding: 1px 13px;
    margin-left: 6px;
  }

  .backgrountab {
    border-radius: 18px;
    background-color: #F6F6F6;
    margin-left: 20px;
    margin-right: 4.5rem;
  }







  .booking-card {
    border-radius: 12px;
       width: 95%;
  }

  .search-input {
    width: 220px;
  }

 .customer-avatar {
  width: 34px;
  height: 34px;
  margin-left: -11px;
  border-left: 2px solid #fff; 
  border-radius: 50%;          
  object-fit: cover;          
}

  .sub-text {
    font-size: 12px;
    color: #6c757d;
  }

  .badge {
    padding: 0.35rem 0.7rem;
    font-size: 12px;
    border-radius: 12px;
  }

  .badge-upcoming {
    background-color: #e7f3ff;
    color: #0d6efd;
  }

  .badge-completed {
    background-color: #e6f4ea;
    color: #28a745;
  }

  .badge-canceled {
    background-color: #fdecea;
    color: #dc3545;
  }

  .custom-thead {
  background-color: #fcecec !important; 
}

.custom-thead th {
  background-color: #fcecec !important;
  font-weight: 600;
  color: #5D5D5D;
  font-size: 14px;
  font-family: 'Segoe UI';
}
.cust-style{
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 14px;
  color: #2B2B2B;
}
.sub-text{
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 12px;
  color: #6E6E6E;
}
.search-input {
      width: 21rem !important;
    flex: 0 0 auto;
    border-radius: 11px;           
}

.filter-select {
  width: auto !important;   
  flex: 0 0 auto;            
}
