.custom-tabs {
      background: #F6F6F6;
      border-radius: 50px;
      padding: 5px;
      display: inline-flex;
      gap: 14px;
    }

    .custom-tab {
      border: none;
      background: transparent;
      font-weight: 500;
      color: #555;
      padding: 8px 18px;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;
    }

    .custom-tab.active {
      background: #fff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      color: #000;
      font-weight: 600;
    }

    .custom-badge {
      background: #ff5a1f;
      color:#F6F6F6;
      border-radius: 12px;
      font-size: 12px;
      padding: 2px 8px;
      margin-left: 6px;
    }
    .backgrountab{
       border-radius: 18px;
       background-color: #F6F6F6;
       margin-left: 20px;
       margin-right: 4.5rem;
    }



/* .campaign-img {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      object-fit: cover;
      margin-right: 10px;
    }
    .fontfamily{
      font-family: 'Segoe UI';
    }

    .campaign-title {
      font-family: Albert Sans;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
text-decoration-style: solid;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;

    }

    .campaign-subtext {
      color: #888;
      font-family: Albert Sans;
font-weight: 400;
font-style: Regular;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;

    }

    .status-pill {
      font-size: 0.75rem;
      padding: 4px 10px;
      border-radius: 20px;
      background-color: #e6f4ea;
      color: #34a853;
      font-weight: 500;
    }

    .owner-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 8px;
    }

    .owner-name {
      font-weight: 500;
      text-decoration: none;
    }

    .owner-name:hover {
      text-decoration: underline;
    }
   
  .main-table{
        border-radius: 15px;
        margin-top: 1.5rem;
        margin: 1.5rem;
    }

    .btn-create {
      background-color: #ffa726;
      color: white;
      border-radius: 15px;
       box-shadow: 0 0 5px rgba(249, 168, 37, 0.8);
     margin-right: 2rem;
    }

.navT {
  border-bottom: 1px solid #ddd;
  
}

.navT .nav-link {
  text-decoration: none !important;   
  color: #888;                        
  border: none;
  font-family: Albert Sans;
font-weight: 600;
font-size: 12.5px;
line-height: 20px;
letter-spacing: 0%;

}

.navT .nav-link.active {
  color: #000;                      
  border-bottom: 1px solid #FFA500;  
  font-weight: 600;
}
.campaign-heading {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 600;              
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  padding-bottom: 18px;
}


.table-header-row th {
  background-color: #FFF0F0 !important;
    padding-bottom: 4px;
font-weight: 600;
font-style: Medium;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
  font-family: 'Albert Sans', sans-serif;
  
} */
.custom-scroll-table {
  max-height: 660px;
  overflow-y: auto;
}

.custom-scroll-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.custom-head th {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  background: #FFF0F0;
}

.Active {
  color: #28a745;
  font-weight: 600;
}

.Inactive {
  color: #dc3545;
  font-weight: 600;
}

.bottomtable {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.three-dot-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-wrapper {
  border: 1px solid #ddd;
  padding: 2px 28px;
  background: #fff;
  border-radius: 8px;

}

.input-search {
  border: none;
  outline: none;
  flex: 1;
}
.main-table {
        border-radius: 15px 15px 0px 0px;
        margin-top: 1.5rem;
        margin: 1.5rem;
        overflow: visible;
        width: 94%;

}
.custom-table{
  overflow: visible;
  border-radius: 2rem;
}
.fontfamily{
      font-family: 'Segoe UI';
      font-size: 14px;
      font-weight: 500;

    }
    .subfoont{
      font-family: 'Segoe UI';
      font-size: 12px;
      color: #6D6D6D;
      font-weight: 400;
    }
    .role{
      font-family: 'Segoe UI';
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }
   .status-badge {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  padding: 4px 12px;
}

.status-badge .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}


.status-badge.active {
  background-color: #e6f9f0;   
  color: #16a34a;              
}
.status-badge.active .dot {
  background-color: #16a34a;  
}


.status-badge.inactive {
  background-color: #ffecec;   
  color: #dc2626;            
}
.status-badge.inactive .dot {
  background-color: #dc2626;   
}


.custom-dropdown {
  border-radius: 50px;                
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);  
  border: none;
  min-width: 120px;                 
}

.custom-dropdown .dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
  border-radius: 6px;
}

.custom-dropdown .dropdown-item.text-danger {
  color: #e74c3c !important;
  font-weight: 500;
}

.table-responsive {
  overflow: visible; 
}



.host-offcanvas {
  width: 480px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -2px 0 20px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.host-offcanvas .offcanvas-header {
  border-bottom: 1px solid #f1f1f1;
  padding: 1rem 1.5rem;
}

.host-offcanvas .offcanvas-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

::ng-deep .offcanvas-backdrop.show {
    opacity: .35 !important;
}
.border-bottom-dotted {
  border-bottom: 1px dashed #E7E7E7; 
  padding-bottom: 15px;
}

.custom-tabs2 {
      background: #F6F6F6;
      border-radius: 50px;
      padding: 5px;
      display: inline-flex;
      gap: 14px;
      width: 100%;
    }

    .custom-tab2 {
      border: none;
      background: transparent;
      font-weight: 500;
      color: #555;
      padding: 8px 18px;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;
    }

    .custom-tab2.active {
      background: #fff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      color: #000;
      font-weight: 600;
    }

    
    .backgrountab{
       border-radius: 18px;
       background-color: #F6F6F6;
       margin-left: 20px;
       margin-right: 4.5rem;
    }


.user-header img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.user-header h6 {
  font-size: 16px;
}

.user-header small {
  font-size: 13px;
}

.details-list {
  margin-top: 1rem;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
   gap: 0.5rem;
}

.detail-row:last-child {
  border-bottom: none;
}

.detail-row .label {
  color: #666;
  font-weight: 500;
}

.detail-row .value {
  color: #333;
  font-weight: 400;
  
}

.host-offcanvas {
  height: 100vh;  
  width: 40%;    
}

.host-offcanvas .offcanvas-body {
  overflow-y: auto;    
  max-height: calc(100vh - 70px); 
}

.off-active{
  margin-right: 0rem;
}

.host-badge {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  padding: 4px 12px;
}

.host-badge .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}


.host-badge.active {
  background-color: #FFF7D4;   
  color: #FDA712;              
}
.host-badge.active .dot {
  background-color:#FDA712;  
}

.host-badge.edit-mode {
  background-color: #FFF7D4;   
  color: #FDA712;              
  padding: 4px 12px;
}

.host-badge.edit-mode .dot {
  background-color: #FDA712;   
}


.dropdown-toggle {
    white-space: nowrap;
    padding: 0px 30px;
  }

 .custom-btn {
  border: 1px solid #E7E7E7;    
  background: transparent;      
  font-weight: 500;
  box-shadow: none !important;
  border-radius: 6px;         
}

.custom-btn:hover,
.custom-btn:focus {
  box-shadow: none !important;
}
/* ===========================
   EDIT MODE STYLES
   =========================== */

.form-control-sm {
    border: none;
  }
  .offcanvas-body.edit-mode .details-list .detail-row {
    padding-bottom: 6px;
}
.red-border {
  border: 1px solid #dc3545 !important; 
  box-shadow: 0 0 4px rgba(220, 53, 69, 0.5); 
  border-radius: 1.5rem;

}
.meal-list{
  border-radius: 1.5rem;
}
.custom-meal-btn {
  border: 1px solid #FF6B6B;
  height: 28px;
  padding: 0 12px;
  font-size: 13px;
color: #FF6B6B;
  display: flex;
  align-items: center;
  gap: 6px; 
}

.custom-meal-btn img {
  width: 14px;
  height: 14px;
}
.meal-size{
  font-size: 11px;
}
.meal-price{
  color: #6E6E6E;
  font-size: 11px;
  font-weight: 500;
  font-family: 'Segoe UI';
  
}
.meal-price1{
  color: #6E6E6E;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Segoe UI';
  position: relative;
  left: 8px;
  
}
.text-muted{
  font-size: 14px;
  color: #6D6D6D;
  font-weight: 400;
  font-family: 'Segoe UI';
}

/* meal-details.component.scss */
.card-header {
  font-size: 0.9rem;
}

.fw-semibold {
  font-weight: 600;
}

.card-img-top {
  border-bottom: 1px solid #dee2e6;
}

.btn-link {
  font-size: 1rem;
  text-decoration: none;
}
.meal-card {
  width: 280px;
  height: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mealhead {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 6px; 
}

.mealhead h6 {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Segoe UI';
  margin: 0;
}

.card-body {
  flex: 1;
  padding: 6px; 
}

.mealfull {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 6px; 
}
.meal-info {
  background: #fff;
  border-radius: 6px;
  padding: 10px 0;
  font-family: 'Segoe UI', sans-serif;
}

.meal-info-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
}

.meal-info-row:last-child {
  border-bottom: none;
}

.meal-label {
  flex: 0 0 40%; /* label column width */
  font-weight: 500;
  color: #555;
}

.meal-value {
  flex: 1;
  text-align: right;
  color: #000;
}
.mealfont{
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 500;
  color: #6D6D6D;

}
.cst-btn{
   
    border-radius: 12px;
    width: 42%;
    height: 46px;
    font-size: 14px;
    font-weight: 500;
   min-width: 120px; 
}
.button-container {
  display: flex;
}

