.custom-tabs {
  background: #F6F6F6;
  border-radius: 50px;
  padding: 5px;
  display: inline-flex;
  gap: 14px;
}

.custom-tab {
  border: none;
  background: transparent;
  font-weight: 500;
  color: #888888;
  font-size: 14px;
  padding: 8px 18px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.custom-tab.active {
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  color: #000;
  font-weight: 600;
}

.backgrountab {
  border-radius: 18px;
  background-color: #F6F6F6;
  margin-left: 20px;
  margin-right: 4.5rem;
}

.container-card {
  height: 80px;
  width: 100%;
  max-width: 94%;
  margin-left: 1.3rem;
  margin-top: 2rem;
  border-radius: 16px;
  border: 1px solid #E7E7E7;
}

.fontfamily {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 14px;
}

.subfont {
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 24px;
}

.card-header {
  border-bottom: 1px solid #f0f0f0;
}

.table thead th {
  background-color: #fcecec;
  /* light red header */
  font-weight: 600;
  color: #5D5D5D;
  font-size: 14px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.4em 0.6em;
}

.cust-tbl {
  margin-top: 1.5rem;
  margin-left: 1.3rem;
  width: 95%;
  max-width: calc calc(1816px - 32px) 1784px (100% - 2rem);
  overflow-x: auto;
  border-radius: 15px;
}

.table {
  min-width: 600px;
}

.ticket-heading {
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.input-group .form-control {
  border-radius: 0.375rem;
}

.input-group-text {
  border-radius: 0.375rem 0 0 0.375rem;
  border-right: none;
}

.input-group .form-control {
  border-radius: 0 0.375rem 0.375rem 0;
}

.fontfamily::placeholder {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #888888;
  font-weight: 400;
}

.titl {
  background-color: #E7E7E7;
  color: #888888 !important;
  font-size: 12px;
  font-weight: 400;

}

.role-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 16px;
  border-radius: 16px;
  font-family: 'Segoe UI';
}

.role-host {
  background-color: #FFF7D4;
  color: #FDA712;
  margin-left: -1rem;
}

.role-guest {
  background-color: #E6F3FF;
  color: #2196F3;
  margin-left: -1rem;
}

.custom-dropdown {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 140px;
  padding: 6px 0;
}


.dropdown-menu {
  z-index: 9999 !important;
  /* keep above everything */
}

.card-body,
.table-responsive {
  overflow: visible !important;
}

/* Offcanvas */

.d-tail {
  border: 1px solid #E7E7E7;
  width: 100%;
  height: 5vh;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}


.offcanvas-ticket {
  height: 100vh;
  width: 45%;
}

.ticket-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-top: 1rem;
}

.ticket-card {
  border: 1px solid #E7E7E7;
  background-color: #fff;
  border-radius: 12px;
  height: 10vh;
  width: 100%;
  margin-top: 2rem;
}

.ticket-badge {
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
}



